<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Welcome page</title>
</head>
<body >
    <div style="background: #182539" class=" row mx-auto p-4">
           <!-- phase one -->
            <div class="text-white col-lg-5 col-md-12">
              <img src="https://i.pinimg.com/originals/bc/50/54/bc505422a3e97696bf11d4c87a112ca2.gif" alt="" class="container-fluid ">
            </div>

            <div class="text-white col-lg-6 col-md-12 ">
                <h1>Stronger Banking <br> Greater Service</h1>
                <p> "Stronger Banking, Greater Service" is not just a motto but a commitment to exceptional financial experiences. We're not just a bank; we're a dynamic institution dedicated to robust services and unwavering excellence.</p><br><br>

                <div class="d-flex gap-5">
   <button routerLink="signup" style="background-color: #154cc9;" class="btn btn-transparent text-white fw-bold" >Get Started </button> <button class="btn btn-transparent text-white border">Download app ⬇️</button>

                </div>
            </div>
            <!-- phase one -->

               <!-- phase two -->


               <div class="p-5 text-white mt-5 row ">
                At JBank, we believe in delivering a banking experience that goes beyond the ordinary. Our pledge to "Stronger Banking, Greater Service" is reflected in every aspect of our operations. From the moment you initiate the account creation process, you'll witness the efficiency that defines JBank's commitment to delivering greater service.<br><br>

                <div id="cardone" class="mx-auto " style="width: 10rem;">
                    <img src="https://i.pinimg.com/564x/48/8b/71/488b71270d6e65bca5ffe0741190249e.jpg" class="card-img-top" alt="..." style="border-radius: 5%;">
                    <p>Create an account</p>
                    <p>Create an account and enjoy seamless transactions</p>
                  </div>

                  <div id="cardone" class="mx-auto" style="width: 10rem;">
                    <img src="https://i.pinimg.com/564x/7f/e8/7d/7fe87df09d6b2b3e71973558ac352493.jpg" class="card-img-top" alt="..." style="border-radius: 5%;">
                    <p>Save Easily</p>
                    <p>Save and prepare for the rainy days</p>
                  </div>

                  <div id="cardone" class="mx-auto" style="width: 10rem;">
                    <img src="https://i.pinimg.com/564x/22/89/56/22895677e2fdfa58ddd55b5d6e30d3e4.jpg" class="card-img-top" alt="..." style="border-radius: 5%;">
                    <p>Get Loans</p>
                    <p>Get Loans with less and cheaper interest rate</p>
                  </div>

               </div>

                   <!-- phase two -->

                     <!-- phase three -->
                   <div class="text-white col-lg-5 col-md-12">
                    <img src="https://i.pinimg.com/564x/74/77/f9/7477f957f555b30cd07057ebb90ce053.jpg" alt="" class="container-fluid ">
                  </div>
      
                  <div class="text-white col-lg-6 col-md-12 ">
                      <h4>Wanna Know About <br>Jbank Mobile Banking</h4>
                      <p> We operate our banking services in many countries around the world. <br>
                      Mobile banking is the act of making financial money transaction on a mobile device(cell phone, ipad, mobile etc). <br>
                      Security is our priority. JBank employs cutting-edge encryption, ensuring your financial data is protected with every transaction.

                      Join the global community of JBank users and redefine convenience in your financial journey. JBank Mobile Banking: Empowering you globally, one transaction at a time.
                      </p><br><br>
      
                      <a href="">LEARN MORE</a>
                  </div>

                         <!-- phase three -->

               <div class="blur p-5 mt-5">
                <h6 class="text-center text-warning text-decoration-underline">SERVICES</h6>
                <h5 class="text-white text-center">Choose Your Preferred Service From Our Lists </h5>
                <p class="text-white text-center">Unlock Financial Freedom with JBank! Seamless transactions, secure Safebox, competitive loans, <br> and Spend Now Pay Later—choose excellence for a brighter future!.</p>
                <div class="row gap-5 mx-auto mt-5">
                  
                  <div id="listOfCards" class="card bg-transparent text-white mx-auto " style="width: 18rem;">
                    <img style="width: 40%; border-radius: 50px;;" src="assets\business-hands svg.png" class="card-img-top mt-2 container" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Transactions and Transfer</h5>
                      <p class="card-text">

                        Simplify your financial interactions and Seamlessly move money between accounts, transfer funds to family and friends, and enjoy quick, secure transactions within and outside the bank.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>

                  <div id="listOfCards" class="card bg-transparent text-white mx-auto " style="width: 18rem;">
                    <img style="width: 40%; border-radius: 50px;;" src="assets\graduation-cap svg.png" class="card-img-top mt-2 container" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Airtime and Data</h5>
                      <p class="card-text">

                        Stay connected effortlessly with JBank's Airtime and Data services. Top up your mobile airtime or data plan instantly, ensuring you're always in touch with loved ones and connected to the digital world.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                  
                  <div id="listOfCards" class="card bg-transparent text-white mx-auto " style="width: 18rem;">
                    <img style="width: 40%; border-radius: 50px;;" src="assets\piggy-bank svg.png" class="card-img-top mt-2 container" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Home Bills</h5>
                      <p class="card-text">

                        Manage your household expenses conveniently using JBank's Home Bills service. Pay your utility bills, such as electricity, water, and more, directly from the app.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>

                  <div id="listOfCards" class="card bg-transparent text-white mx-auto " style="width: 18rem;">
                    <img style="width: 40%; border-radius: 50px;;" src="assets\safe-box svg.png" class="card-img-top mt-2 container" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Safebox</h5>
                      <p class="card-text">

                        Ensure the safety of your valuable possessions with JBank's Safebox service. Benefit from a secure storage solution, protecting important documents and valuables, providing you with peace of mind and added security.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>


                  <div id="listOfCards" class="card mx-auto " style="width: 18rem;">
                    <img style="width: 40%; border-radius: 50px;;" src="assets\growth svg.png" class="card-img-top mt-2 container" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Loans with Cheap Interest Rate</h5>
                      <p class="card-text">

                        Fulfill your financial goals with JBank's Loans service, offering competitive interest rates. Whether it's for education, a new home, or other personal needs, our affordable loan options make achieving your aspirations more accessible.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>

                  <div id="listOfCards" class="card bg-transparent text-white mx-auto " style="width: 18rem;">
                    <img style="width: 40%; border-radius: 50px;;" src="assets\coins svg.png" class="card-img-top mt-2 container" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Spend Now Pay Later</h5>
                      <p class="card-text">

                        Experience financial flexibility with JBank's Spend Now Pay Later service. Make purchases without immediate payment, giving you the freedom to enjoy the things you need or want now, with the convenience of deferred payments that suit your financial timeline.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>

                </div>
               </div>
              

               <div class="blur p-5 container w-75 mx-auto text-white row" style="margin: 10% 0% 0% 0% ;">
                
                <div class="text-white col-lg-6 col-md-12 ">
                    <h4>Secure Way To Buy And <br> Sell From Your Mobile App</h4>
                    <p> We operate our banking services in many countries around the world. <br>
                    Mobile banking is the act of making financial money transaction on a mobile device(cell phone, ipad, mobile etc). <br>
                    We make said transactions easier and faster for our customers by ensuring seamless transactions with easy to use steps.
                  </p><br><br>
                  
             
                  <div class="d-flex gap-5">
                    <button class="btn btn-transparent text-white" style="border-color:#154cc9 ;"> 🏙️App Store </button>    <button style="background-color: #154cc9;" class="btn btn-transparent text-white fw-bold">Play store</button> 
  
                  </div>
                </div>

                <div class="text-white col-lg-5 col-md-12">
                  <img src="https://i.pinimg.com/564x/dd/ab/2f/ddab2feee8a00179dc0db35fef8a5aca.jpg" alt="" class="container-fluid ">
                </div>
              </div>
              <!-- phase three -->

                  <!-- phase four -->

              <div class="row " style="margin: 15% 0% 0% 0% ;">
                <div class="text-white col-lg-5 col-md-12 mx-auto">
                  <img src="https://i.pinimg.com/564x/29/b6/93/29b693dea359e9aeb66c4c94e02f76ab.jpg" alt="" class="container-fluid ">
                </div>
    
                <div class="text-white col-lg-6 col-md-12 ">
                    <h4>Love Of our Customers</h4>
                    <p> We operate our banking services in many countries around the world. <br><br><br><br>
                    Mobile banking is the act of making financial money transaction on a mobile device(cell phone, ipad, mobile etc). <br>
                    We have beeen able to satisfy the need of many  customers around the world and the testimonies are there to prove
                    </p><br><br>
                    <strong>Dr. John Smith</strong>
                   
                </div>
                    <!-- phase four -->

                        <!-- phase five-->

                        <div class="blur p-5 container w-75 mx-auto text-white row" style="margin: 10% 0% 0% 0% ;">
                          <h4 class="text-center">Subscribe To Our Newsletter</h4>
                          <p  class="text-center">To stay up to date and enjoy our exclusive packages  <br> subscribe to our newsletter. </p>
                          <div class="d-flex">

                            <input type="text" placeholder="Enter Your Email" class="form-control w-75 p-4 mx-auto"> <button class="btn btn-outline-primary fw-bold mx-auto ">Get Started</button>
                          </div>
                        </div>

                            <!-- phase five-->

                              <!-- phase six footer-->

                        <footer class=" text-white p-4 " style="margin: 15% 0% 0% 0% ;">
                          <div
                            class="row container mx-auto text-white"
                           style="font-family: 'Times New Roman', Times, serif;"
                          >
                            <ul class="col-md-3 list-unstyled">
                              <li class="text-warning fw-bold">
                                <img
                                  style="height: 50px;"
                                  src="https://i.pinimg.com/564x/95/e9/be/95e9bef7e2e35ee6992dd2a4f8f9b14b.jpg"
                                  alt=""
                                />
                              </li>
                              <li class="fw-bold text-warning">Just-Jinad</li>
                              <br />
                              <li class="text-warning fw-bold">About Us</li>
                              <li>
                                <p>
                                  We want to help bring talented students And Startups together
                                </p>
                              </li>
                            </ul>
                  
                            <ul class="col-md-3 list-unstyled">
                              <li class="text-warning fw-bold">
                                <h5>Contact Us</h5>
                              </li>
                              <li class="mb-2">
                              <a href="https://www.linkedin.com/in/jinadtope/">
                                <button
                                  data-mdb-ripple-init
                                  type="button"
                                  class="btn btn-warning btn-floating mx-1 "
                                >
                                  <i class="fab fa-linkedin"></i>
                                </button></a>
                              </li>
                  
                              <li class="mb-2">
                            
                                <button
                                  data-mdb-ripple-init
                                  type="button"
                                  class="btn btn-warning btn-floating mx-1"
                                >
                                  <i class="fab fa-twitter"></i>
                                </button>
                              </li>
                              <li class="mb-2">
                            
                                <button
                                  data-mdb-ripple-init
                                  type="button"
                                  class="btn btn-warning btn-floating mx-1"
                                >
                                  <i class="fab fa-whatsapp"></i>
                                </button>
                              </li>
                            </ul>
                            <ul class="col-md-3 list-unstyled">
                              <li class="text-warning fw-bold">
                                <h5>Helpful Links</h5>
                              </li>
                              <li>Services</li>
                              <li>Support</li>
                              <li>Privacy Policy</li>
                              <li>Terms and condition</li>
                            </ul>
                            <ul class="col-md-3 list-unstyled">
                              <li>
                                <h5>Subscribe to More Info</h5>
                              </li>
                              <li>
                                <input
                                  class="rounded "
                                  type="text"
                                  placeholder="Enter Your Email"
                                />
                              </li>
                              <li>
                                <button class="btn btn-warning fw-bold text-white mt-2">
                                  Subscribe
                                </button>
                              </li>
                            </ul>
                          </div>
                          <hr />
                          <p class="text-center">Copyright @ just_Jinad</p>
                        </footer>

              </div>


        </div>

  
</body>
</html>
