<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Welcome page</title>
</head>
<body >
    <div style="background: #182539" class=" row mx-auto p-4">
           <!-- phase one -->
            <div class="text-white col-lg-5 col-md-12">
              <img src="https://i.pinimg.com/originals/bc/50/54/bc505422a3e97696bf11d4c87a112ca2.gif" alt="" class="container-fluid ">
            </div>

            <div class="text-white col-lg-6 col-md-12 ">
                <h1>Stronger Banking <br> Greater Service</h1>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum molestias ex perferendis doloremque debitis. Quos minima cum enim quo libero.</p><br><br>

                <div class="d-flex gap-5">
   <button routerLink="signup" style="background-color: #154cc9;" class="btn btn-transparent text-white fw-bold" >Get Started </button> <button class="btn btn-transparent text-white border">Download app ⬇️</button>

                </div>
            </div>
            <!-- phase one -->

               <!-- phase two -->


               <div class="p-5 text-white mt-5 row ">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, excepturi eligendi laudantium perferendis maxime in amet? Culpa beatae placeat ad, accusamus nemo eum ducimus ullam soluta tempore dicta aut veniam?<br><br>

                <div id="cardone" class="mx-auto " style="width: 10rem;">
                    <img src="https://i.pinimg.com/564x/48/8b/71/488b71270d6e65bca5ffe0741190249e.jpg" class="card-img-top" alt="..." style="border-radius: 5%;">
                    <p>Create an account</p>
                    <p>Create an account with and enjoy seamless transaction</p>
                  </div>

                  <div id="cardone" class="mx-auto" style="width: 10rem;">
                    <img src="https://i.pinimg.com/564x/7f/e8/7d/7fe87df09d6b2b3e71973558ac352493.jpg" class="card-img-top" alt="..." style="border-radius: 5%;">
                    <p>Create an account</p>
                    <p>Create an account with and enjoy seamless transaction</p>
                  </div>

                  <div id="cardone" class="mx-auto" style="width: 10rem;">
                    <img src="https://i.pinimg.com/564x/22/89/56/22895677e2fdfa58ddd55b5d6e30d3e4.jpg" class="card-img-top" alt="..." style="border-radius: 5%;">
                    <p>Create an account</p>
                    <p>Create an account with and enjoy seamless transaction</p>
                  </div>

               </div>

                   <!-- phase two -->

                     <!-- phase three -->
                   <div class="text-white col-lg-5 col-md-12">
                    <img src="https://i.pinimg.com/564x/74/77/f9/7477f957f555b30cd07057ebb90ce053.jpg" alt="" class="container-fluid ">
                  </div>
      
                  <div class="text-white col-lg-6 col-md-12 ">
                      <h4>Wanna Know About <br>Jbank Mobile Banking</h4>
                      <p> We operate our banking services in many countries around the world. <br>
                      Mobile banking is the act of making financial money transaction on a mobile device(cell phone, ipad, mobile etc). <br>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, non cumque. Exercitationem ex sed beatae quidem consequatur explicabo magni hic!
                      </p><br><br>
      
                      <a href="">LEARN MORE</a>
                  </div>

                         <!-- phase three -->

               <div class="blur p-5 mt-5">
                <h6 class="text-center text-warning text-decoration-underline">SERVICES</h6>
                <h5 class="text-white text-center">Choose Your Preferred Service From Our Lists </h5>
                <p class="text-white text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus <br> laudantium accusantium odio, et nemo necessitatibus.</p>
                <div class="row gap-5 mx-auto mt-5">
                  
                  <div id="listOfCards" class="card bg-transparent text-white mx-auto " style="width: 18rem;">
                    <img src="/src/assets/images/moneyhand.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>

                  <div id="listOfCards" class="card bg-transparent text-white mx-auto " style="width: 18rem;">
                    <img src="" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                  
                  <div id="listOfCards" class="card bg-transparent text-white mx-auto mx-auto  " style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>

                  <div id="listOfCards" class="card bg-transparent text-white mx-auto mx-auto  " style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>


                  <div id="listOfCards" class="card  mx-auto mx-auto  " style="width: 18rem;">
                    <img src="" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>

                  <div id="listOfCards" class="card bg-transparent text-white mx-auto mx-auto  " style="width: 18rem;">
                    <img src="https://i.pinimg.com/564x/ee/f3/d9/eef3d9e085e3dc87e7fb6c2aae496252.jpg" class="card-img-top" alt="..." style="width: 40%;">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>

                </div>
               </div>
              

               <div class="blur p-5 container w-75 mx-auto text-white row" style="margin: 10% 0% 0% 0% ;">
                
                <div class="text-white col-lg-6 col-md-12 ">
                    <h4>Secure Way To Buy And <br> Sell From Your Mobile App</h4>
                    <p> We operate our banking services in many countries around the world. <br>
                    Mobile banking is the act of making financial money transaction on a mobile device(cell phone, ipad, mobile etc). <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, non cumque. Exercitationem ex sed beatae quidem consequatur explicabo magni hic!
                  </p><br><br>
                  
             
                  <div class="d-flex gap-5">
                    <button class="btn btn-transparent text-white" style="border-color:#154cc9 ;"> 🏙️App Store </button>    <button style="background-color: #154cc9;" class="btn btn-transparent text-white fw-bold">Play store</button> 
  
                  </div>
                </div>

                <div class="text-white col-lg-5 col-md-12">
                  <img src="https://i.pinimg.com/564x/dd/ab/2f/ddab2feee8a00179dc0db35fef8a5aca.jpg" alt="" class="container-fluid ">
                </div>
              </div>
              <!-- phase three -->

                  <!-- phase four -->

              <div class="row " style="margin: 15% 0% 0% 0% ;">
                <div class="text-white col-lg-5 col-md-12 mx-auto">
                  <img src="https://i.pinimg.com/564x/29/b6/93/29b693dea359e9aeb66c4c94e02f76ab.jpg" alt="" class="container-fluid ">
                </div>
    
                <div class="text-white col-lg-6 col-md-12 ">
                    <h4>Love Of our Customers</h4>
                    <p> We operate our banking services in many countries around the world. <br><br><br><br>
                    Mobile banking is the act of making financial money transaction on a mobile device(cell phone, ipad, mobile etc). <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, non cumque. Exercitationem ex sed beatae quidem consequatur explicabo magni hic!
                    </p><br><br>
                    <strong>Dr. John Smith</strong>
                   
                </div>
                    <!-- phase four -->

                        <!-- phase five-->

                        <div class="blur p-5 container w-75 mx-auto text-white row" style="margin: 10% 0% 0% 0% ;">
                          <h4 class="text-center">Subscribe To Our Newsletter</h4>
                          <p  class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, <br> voluptas saepe. Rerum, at qua.</p>
                          <div class="d-flex">

                            <input type="text" placeholder="Enter Your Email" class="form-control w-75 p-4 mx-auto"> <button class="btn btn-outline-primary fw-bold mx-auto ">Get Started</button>
                          </div>
                        </div>

                            <!-- phase five-->

                              <!-- phase six footer-->

                        <footer class=" text-white p-4 " style="margin: 15% 0% 0% 0% ;">
                          <div
                            class="row container mx-auto text-white"
                           style="font-family: 'Times New Roman', Times, serif;"
                          >
                            <ul class="col-md-3 list-unstyled">
                              <li class="text-warning fw-bold">
                                <img
                                  style="height: 50px;"
                                  src="https://i.pinimg.com/564x/95/e9/be/95e9bef7e2e35ee6992dd2a4f8f9b14b.jpg"
                                  alt=""
                                />
                              </li>
                              <li class="fw-bold text-warning">Just-Jinad</li>
                              <br />
                              <li class="text-warning fw-bold">About Us</li>
                              <li>
                                <p>
                                  We want to help bring talented students And Startups together
                                </p>
                              </li>
                            </ul>
                  
                            <ul class="col-md-3 list-unstyled">
                              <li class="text-warning fw-bold">
                                <h5>Contact Us</h5>
                              </li>
                              <li class="mb-2">
                              <a href="https://www.linkedin.com/in/jinadtope/">
                                <button
                                  data-mdb-ripple-init
                                  type="button"
                                  class="btn btn-warning btn-floating mx-1 "
                                >
                                  <i class="fab fa-linkedin"></i>
                                </button></a>
                              </li>
                  
                              <li class="mb-2">
                            
                                <button
                                  data-mdb-ripple-init
                                  type="button"
                                  class="btn btn-warning btn-floating mx-1"
                                >
                                  <i class="fab fa-twitter"></i>
                                </button>
                              </li>
                              <li class="mb-2">
                            
                                <button
                                  data-mdb-ripple-init
                                  type="button"
                                  class="btn btn-warning btn-floating mx-1"
                                >
                                  <i class="fab fa-whatsapp"></i>
                                </button>
                              </li>
                            </ul>
                            <ul class="col-md-3 list-unstyled">
                              <li class="text-warning fw-bold">
                                <h5>Helpful Links</h5>
                              </li>
                              <li>Services</li>
                              <li>Support</li>
                              <li>Privacy Policy</li>
                              <li>Terms and condition</li>
                            </ul>
                            <ul class="col-md-3 list-unstyled">
                              <li>
                                <h5>Subscribe to More Info</h5>
                              </li>
                              <li>
                                <input
                                  class="rounded "
                                  type="text"
                                  placeholder="Enter Your Email"
                                />
                              </li>
                              <li>
                                <button class="btn btn-warning fw-bold text-white mt-2">
                                  Subscribe
                                </button>
                              </li>
                            </ul>
                          </div>
                          <hr />
                          <p class="text-center">Copyright @ just_Jinad</p>
                        </footer>

              </div>


        </div>

  
</body>
</html>
