<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body style="background:#182539  ;">
  
    <div class="whole1 p-3 text-white" style="background:#182539  ;">
      <div>
        <h1 class="fs-1 fw-bolder p-2">About Us</h1>
        <h1 class="p-2">
          Your ally in achieving ambition <br />
          beyond borders
        </h1>
        <p class="p-2">
          We understand that with global ambition, comes global challenges, and
          we are <br />
          here to bridge the gap by offering seamless cross-border financial
          services. <br />
          Consider us your friendly digital guide to all things finance, helping
          you make the most of your money.
        </p>
      </div>
      <div>
        <img src="../assets/undraw_Team_spirit_re_yl1v-removebg-preview.png" alt="">
      </div>
    </div>



    <br />
    <br />
    <br />
    <br />
    <br/>




    <div class="whole2 text-center " style="color: #182539;"><br><br>
      <p>Our core values</p>
      <h1 class="fw-bold fs-3">Our values help us set the bar for good banking high.</h1>
      <p>
        Our values define us. They guide us in building and improving our
        product, hiring teammates, and serving our customers.
      </p>
      <div class="row1-container">
        <div class="box box-down cyan">
          <h2>Customer First</h2>
          <p>
            We aim to provide our customers with top-notch service that helps
            them grow their business and put their best foot forward.
          </p>
          <img
            src="https://assets.codepen.io/2301174/icon-supervisor.svg"
            alt=""
          />
        </div>

        <div class="box red">
          <h2>Passion over Pedigree</h2>
          <p>
            We hire for passion, because passionate people can overcome any
            obstacle and acquire any knowledge necessary.
          </p>
          <img
            src="https://assets.codepen.io/2301174/icon-team-builder.svg"
            alt=""
          />
        </div>

        <div class="box box-down blue">
          <h2>Calculator</h2>
          <p>
            Uses data from past projects to provide better delivery estimates
          </p>
          <img
            src="https://assets.codepen.io/2301174/icon-calculator.svg"
            alt=""
          />
        </div>
      </div>
      <div class="row2-container">
        <div class="box orange">
          <h2>Commitment</h2>
          <p>
            Our first priority is to keep your money safe and secure. Every
            single aspect of our service is optimized to protect and grow your
            funds!
          </p>
          <img src="https://assets.codepen.io/2301174/icon-karma.svg" alt="" />
        </div>
      </div>
    </div>





    <footer class=" text-white p-4 " >
        <div
          class="row container mx-auto text-white"
         style="font-family: 'Times New Roman', Times, serif;"
        >
          <ul class="col-md-3 list-unstyled">
            <li class="text-warning fw-bold">
              <img
                style="height: 50px;"
                src="https://i.pinimg.com/564x/95/e9/be/95e9bef7e2e35ee6992dd2a4f8f9b14b.jpg"
                alt=""
              />
            </li>
            <li class="fw-bold text-warning">Just-Jinad</li>
            <br />
            <li class="text-warning fw-bold">About Us</li>
            <li>
              <p>
                We want to help bring talented students And Startups together
              </p>
            </li>
          </ul>

          <ul class="col-md-3 list-unstyled">
            <li class="text-warning fw-bold">
              <h5>Contact Us</h5>
            </li>
            <li class="mb-2">
            <a href="https://www.linkedin.com/in/jinadtope/">
              <button
                data-mdb-ripple-init
                type="button"
                class="btn btn-warning btn-floating mx-1 "
              >
                <i class="fab fa-linkedin"></i>
              </button></a>
            </li>

            <li class="mb-2">
          
              <button
                data-mdb-ripple-init
                type="button"
                class="btn btn-warning btn-floating mx-1"
              >
                <i class="fab fa-twitter"></i>
              </button>
            </li>
            <li class="mb-2">
          
              <button
                data-mdb-ripple-init
                type="button"
                class="btn btn-warning btn-floating mx-1"
              >
                <i class="fab fa-whatsapp"></i>
              </button>
            </li>
          </ul>
          <ul class="col-md-3 list-unstyled">
            <li class="text-warning fw-bold">
              <h5>Helpful Links</h5>
            </li>
            <li>Services</li>
            <li>Support</li>
            <li>Privacy Policy</li>
            <li>Terms and condition</li>
          </ul>
          <ul class="col-md-3 list-unstyled">
            <li>
              <h5>Subscribe to More Info</h5>
            </li>
            <li>
              <input
                class="rounded "
                type="text"
                placeholder="Enter Your Email"
              />
            </li>
            <li>
              <button class="btn btn-warning fw-bold text-white mt-2">
                Subscribe
              </button>
            </li>
          </ul>
        </div>
        <hr />
        <p class="text-center">Copyright @ just_Jinad</p>
      </footer>
  </body>
</html>

