<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Sign Up Form</title>
</head>

<body>
  <div class="p-5">
    <div class="login-box mx-auto">
      <h2>Login  Form</h2>
      <form onsubmit="return false">
      
        <div class="user-box">
          <input type="password" name="" id="firstPin">
          <label>Email</label>
        </div>
        <div class="user-box">
          <input type="password" name="" id="secPin">
          <label> Password</label>
        </div>
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Submit
        </a>
        <p class="text-white">Forgot Password?</p>
      </form>
    </div>
  </div>
</body>

</html>
