<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Sign Up Form</title>
</head>

<body>
  <br>
  <br>
  <div class="">
    <div class="login-box mx-auto">
      <h2>Login  Form</h2>
      <form >
        <lib-toastify-toast-container></lib-toastify-toast-container>
        
        <div class="user-box">
          <input type="text"
          [(ngModel)]="userEmail"
           name="usersEmail" 
           id="firstPin">
          <label>Email</label>
        </div>
        <div class="user-box">
          <input type="password" 
          [(ngModel)]="userPin"
          name="usersPin" 
          id="secPin">
          <label> Password</label>
        </div>
        <button class="btn btn-transparent" (click)="userLogin()">
          <a >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </a>
        </button>
        <p class="text-white">Forgot Password?</p>
      </form>
    </div>
  </div>
  <br>
  <br>
</body>

</html>
