<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airtime</title>
</head>
<body style="background-color: #182539;">
    <p class="fw-bold text-white text-center">Data Top Up</p>
    <div class="container w-75 rounded p-5"><br>
        <p class="fw-bold text-white ">Network</p>
        <select name="" id="" class="form-control">
            <option value="">MTN</option>
            <option value="">GLO</option>
            <option value="">Airtel</option>
            <option value="">9Mobile</option>
        </select>

        <p class="fw-bold text-white">Type</p>
        <select class="form-control" name="" id="">
            <option value="">SME</option>
            <option value="">SME2</option>
            <option value="">COPORATE GIFTING</option>
            <option value=""> GIFTING</option>
            <option value="">DATA COUPON</option>
        </select>

        <p class="fw-bold text-white">Amount</p>
        <input class="form-control" type="text">

        <p class="fw-bold text-white">Phone</p>
        <input class="form-control" type="text">

        <button class="btn btn-info mt-3">Continue</button>
    </div>
</body>
</html>

