<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transfer page</title>
</head>
<body style="background: #182539">
  
<form id="transferForm" (ngSubmit)="makeTransfer()" [formGroup]="bank"  >
  <div class="text-white" style="margin: 0% 15% 0% 10%;">
    <br>
    <h6>Make 3 transfers per day for free!</h6><br><br>
    <input 
      type="text" 
      formControlName="senderPhone"
      class="form-control mb-3"
      hidden
      placeholder="Enter your acc number" 
      id="userAkant"
    ><br>

    <input 
      class="form-control mb-3" 
      type="text" 
      formControlName="acctNum"
      
      placeholder="Enter recipient account number"
    ><br>

    <input 
      class="form-control mb-3" 
      formControlName="userAmount"
      type="text" 
      placeholder="Enter Amount"
    ><br>

    <select name="" id="" class="form-control mb-3" formControlName="listOfbanks">
      <option *ngFor="let item of bankList" [value]="item.code">{{item.name}}</option>
    </select><br>

    <input 
      class="form-control" 
      type="password" 
      formControlName="userPin"
      placeholder="Enter 4 digit pin"
    ><br>
    <button type="submit" class="mt-3 btn btn-success mb-5">Make Transfer</button>
  </div>
</form>

</body>
</html>